:root {
    --color-red: #ff0000;
}
body {
    background: aliceblue;
}

.btn {
    border-radius: 5px;
    border: 0;
    margin: 10px;
    font-size: 20px;
    padding: 15px;
    color: var(--color-red);
    background: linear-gradient(345deg, #aacac2, #3929bb);
    background-size: 400% 400%;
    animation: Insanity 2s ease infinite;
}

@keyframes Insanity {
    0%{background-position:0 50%}
    50%{background-position:100% 50%}
    100%{background-position:0 50%}
}

.icon {
    padding-left: 5px;
    vertical-align: middle;
}
